.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  mat-card-content{
    display: flex;
    justify-content: space-between;
  }
  .example-card{
    margin: 2rem;
    img{
      width: 150px;
      height: 150px;
      margin: auto;
      margin-bottom: 1rem;
    }
  }
  .mat-card-actions{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    .addCartButton{
      background: rgb(0 0 0 / 42%);
      color: #fff;
    }
  }
  
}